body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

body.login-page {
    background: url(/Images/Dashboard\ bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body.register-page {
    background: url(/Images/Dashboard\ bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body.dashboard-page {
    background: url(/Images/Dashboard\ bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.forgot-page {
    background: url(/Images/Dashboard\ bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body.booking-page {
    background-image: url(/Images/Dashboard\ bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.login-box {
    position: absolute;
    top: 25%;
    width: 500px;
    height: 420px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 25px;
}

.Sign-up-box {
    position: absolute;
    top: 20%;
    width: 500px;
    height: 425px;
    background: rgba(0, 0, 0, 0.692);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 25px;

}

.forgot-box {
    position: absolute;
    top: 30%;
    width: 400px;
    height: 350px;
    background: rgba(0, 0, 0, 0.692);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 25px;
}


h2 {
    font-size: 24px;
    font-family: "Cinzel";
    color: white;
    text-align: center;
    text-shadow: 3px 3px 10px rgb(3, 3, 3);
}

.input-box label {
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 70%;
    left: -2px;
    transform: translateY(-100%);
    pointer-events: none;
    transition: 0.6s;
    font-family: "Roboto";
    font-size: 14px;

}

.input-box input:focus~label,
.input-box input:not(:placeholder-shown)~label {
    top: 2px;
    left: -1px;
    color: coral;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 1px solid white;
}

.input-box input {
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: "Roboto";
    color: white;
    padding: 0 8px 0 5px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
}

.remember-forgot label input {
    margin-right: 10px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
}

button {
    width: 100%;
    height: 30px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: black;
    transition: 0.2s;
    font-weight: 600;
    font-family: "Cinzel";

}

button:hover[type="submit"] {
    background-color: coral;
}

body.about-page {
    background: url(/Images/Dashboard\ bg.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.aboutBox {
    position: relative;
    top: 15px;
    height: 400px;
    width: 500px;
    background: transparent;
    overflow-y: auto;
    padding: 50px;
}

.aboutBox::-webkit-scrollbar {
    display: none;
}


#aboutContent {
    color: white;
    font-family: "Roboto";
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Roboto";
}

a:hover {
    color: coral;
}

.Sign-in-link {
    font-size: 13px;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
    font-family: "Roboto";
}

.Sign-in-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: "Roboto";
}

.Sign-in-link p a:hover {
    color: coral;
    text-decoration: underline;
}


.Sign-up-link {
    font-size: 13px;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
    font-family: "Roboto";

}

.nav {
    justify-content: center;
    position: fixed;
    top: 2px;
    display: flex;
    line-height: 5px;
    background-position: center;
    width: 100%;
}

.nav-logo-login {
    color: white;
    font-size: 25px;
    font-family: "Cinzel";
    font-weight: 600;
    text-shadow: 3px 3px 10px rgb(3, 3, 3);
    position: relative;
    right: 120px;

}

.nav-logo-forgot {
    color: white;
    font-size: 25px;
    font-family: "Cinzel";
    font-weight: 600;
    text-shadow: 3px 3px 10px rgb(3, 3, 3);
    position: relative;
    right: 100px;
}

.nav-logo-admin {
    color: white;
    font-size: 25px;
    font-family: "Cinzel";
    font-weight: 600;
    text-shadow: 3px 3px 10px rgb(3, 3, 3);
    position: relative;
    right: 100px;
}

.nav-logo-user {
    color: white;
    font-size: 25px;
    font-family: "Cinzel";
    font-weight: 600;
    text-shadow: 3px 3px 10px rgb(3, 3, 3);
    position: relative;
    right: 43px;
}

.nav-menu ul {
    display: flex;
    position: relative;
    left: 0%;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-delay: 0s;

}

@keyframes slideLeft {
    from {
        transform: translateX(120px)
    }
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    font-family: "Cinzel";
    color: white;
    margin: 0 20px;
    font-size: 15px;
}

.link:hover,
.active {
    border-bottom: 2px solid white;
}

.nav-button .btn {
    width: 100px;
    height: 25px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
    transition: .3s;
    position: relative;
    left: 80%;
    top: 15%;
    font-family: "Cinzel";

}

.nav-button-reg .btn {
    width: 130px;
    height: 40px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
    transition: .3s;
    position: relative;
    left: 120px;
    top: 15%;
    font-family: "Cinzel";

}

.btn:hover {
    background: coral;
}

#Registerbtn {
    margin-left: 15px;
    font-family: "Cinzel";
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.btn.white-btn:hover {
    background: coral;
}

option {
    color: coral;
}

select {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.services-menu {
    display: flex;
    position: relative;
}

.remember-forgot input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1.5px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
    background-color: white;
    vertical-align: middle;
}

.remember-forgot input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.remember-forgot input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);

}

.dashboard-container {
    margin-top: 5px;
    width: 95%;
    text-align: center;
}

.dashboard-container h1 {
    color: rgb(243, 167, 52);
    font-size: 35px;
    font-family: "Cinzel";
    margin-bottom: 10px;
    text-shadow: 3px 3px 5px black;
    position: relative;
    bottom: 120px;

    font-family: "Cinzel";

}

.dashboard-container.intro {
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
    position: relative;
    bottom: 100px;
    font-weight: bold;
    font-family: "Roboto";
    text-shadow: 1px 1px 15px black
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 52px;
    justify-items: center;
}

.dash-card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
    text-align: center;
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: 50px;
}

.dash-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
}

.dash-card h3 {
    color: rgb(243, 167, 52);
    margin-bottom: 10px;
    text-shadow: 1px 1px 15px black;
    font-family: "Cinzel";
}

.dash-card p {
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-family: "Roboto";
    font-weight: bold;

}

.user-dashboard {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
    color: white;
    margin-top: 80px;
}

.main-content {
    position: fixed;
    left: 230px;
    bottom: 60px;
    padding: 30px;


}

.main-content h1 {
    color: rgb(243, 167, 52);
    font-size: 35px;
    text-shadow: 2px 2px 10px black;
    margin-bottom: 10px;
    font-family: "Cinzel";
    position: relative;
    right: 32px;
}

.main-content .intro {
    font-size: 16px;
    color: white;
    margin-bottom: 40px;
    font-weight: 500;
    text-shadow: 3px 3px 10px black;
    font-family: "Roboto";
    position: relative;
    right: 30px;
}

.user-info {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
    width: 700px;
    font-family: "Roboto";
    position: relative;
    right: 30px;
}

.user-info h3 {
    color: coral;
    margin-bottom: 10px;
    text-shadow: 1px 1px 10px black;
    font-family: "Cinzel";

}

.user-info p {
    margin-bottom: 25px;
    color: white;
    text-shadow: 3px 3px 10px black;
    font-weight: 500;
    font-family: "Roboto";
}

.action-buttons {
    display: flex;
    gap: 50px;
}

.action-buttons button {
    height: 35px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.action-buttons button:hover {
    background-color: coral;
}

#aboutcontent {
    color: white;
    position: relative;
    right: 10%;
}


@font-face {
    font-family: "Cinzel";
    src: url("/Fonts/Cinzel.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/Fonts/Roboto-Light.ttf");
}

.bookingheader {
    color: white;
    text-shadow: 3px 3px 10px black;
    position: relative;
    bottom: 185px;
    text-align: center;
    font-family: "Cinzel";

}

#booking-content {
    color: white;
    position: relative;
    bottom: 185px;
    text-align: center;

}

.booking-options {
    position: relative;
    bottom: 175px;
}

#checkin {
    background: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
}

#checkout {
    background: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
}

option {
    color: black;
}

.sr-only {
    color: rgb(238, 185, 124);
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2px;
}

.tr-only {
    color: rgb(238, 185, 124);
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 8px;
}

#sronly {
    margin: 20px;
}

#tronly {
    margin: 20px;
}

.bookingbtn {
    position: absolute;
    top: 240px;
    right: 200px;
    width: 10%;
    border-radius: 10px;
    font-family: "Cinzel";

}

.totalPrice {
    position: fixed;
    top: 160px;
    right: 230px;
    width: 6%;
    border-radius: 10px;
    color: white;
}

.booking-cards {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 20px;
    bottom: 70px;
}

.room-card {
    padding: 15px;
}

.cardsize {
    width: 400px;
    height: 200px;
    border-radius: 10px;

}

h3 {
    font-family: "Cinzel";
    color: white;
}

#bookingprice {
    color: rgb(255, 255, 255);
}

footer.footer {
    width: 100%;
    text-align: center;
    background: transparent;
    position: fixed;
    bottom: 0;
    top: 88%;
    color: white;
    font-family: "Roboto";
    font-size: 13px;

}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.footer-icons img {
    width: 22px;
    height: 20px;
    margin: 0 8px;
    cursor: pointer;
}